@import "bootstrap"
html
  height: 100%

body
  background: #1b224f
  padding: 0
  font-family: 'open sans'
  position: relative
  margin: 0
  height: 100%
  -webkit-font-smoothing: antialiased
.wrapper
  height: 100% !important
  height: 100%
  margin: 0 auto
  overflow: hidden
.navbar-default
  background-color: transparent !important
  border-color: transparent !important
  z-index: 20

  ul
    position: relative
    top: 30px
    left: 100px
    li
      padding: 0px
      letter-spacing: -1px
      a

        &:hover
          color: white !important
  .navbar-brand
    color: white !important
    font-size: 2.5em
    letter-spacing: -1
    font-family: Helvetica, Arial, Sans-Serif
    position: relative
    top: 30px
    left: 80px
  .put_n
    font-size: 80px
    position: relative
    left: 80px
    top: -40px
    font-weight: 900
    letter-spacing: -5px
    color: #8e8e8e
    text-align: center
  .put_s
    @extend .put_n
    font-size: 60px
    top: -45px
  .put_t
    @extend .put_n
    font-size: 40px
    top: -50px



h1, h2
  width: 90%
  float: left
h1
  margin-top: 100px
  color: #ffffff
  margin-bottom: 5px
  font-size: 50px
  letter-spacing: -3px
  font-weight: 900 !important
h2
  color: #d98b3d
  font-weight: 100
  margin-top: 0
  margin-bottom: 10px

.main
  float: left
  width: 100%
  margin: 0 auto
  h1
    padding: 150px 50px
    float: left
    width: 100%
    font-size: 45px
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    font-weight: 100
    color: white
    margin: 0
  ul
    li
      color: white

.clear
  width: auto

header
  position: relative
  z-index: 10
.iphone-image
  position: absolute
  bottom: 0px
  right: 150px
  z-index: 1
.inside_iphone
  width: 17.3%
  z-index: 0
  height: 190px
  position: absolute
  bottom: 150px
  right: 165px
  margin-left: -15px
  background-color: whitesmoke
  h6
    text-align: center
    font-size: 8.5px
    position: relative
    left: -5px
    float: left
  .image_ikon
    position: relative
    left: 28px
.inside_iphone_below
  @extend .inside_iphone
  background-color: #d7d7d7
  position: absolute
  top: 350px



.main section
  .page_container
    position: relative
    top: 40%
    left: -15%
    margin: 0 auto 0
    max-width: 850px
    z-index: 3
  overflow: hidden
  &.page1
    float: left
    background: rgb(27, 34, 79)
    h1
      text-align: left
      padding: 0
      margin-bottom: 15px
      font-size: 50px
      float: left
      color: #ffffff
    h2
      color: rgba(220, 222, 212, 0.85)
      width: 715px
      line-height: 140%
    .btn-purple
      background: rgb(27, 34, 79)
      border: 3px solid #2e357b
      width: 150px
      float: left
      position: relative
      left: 10px
      top: 40px
      letter-spacing: 2px
      height: 50px
      color: white
      padding-left: 20px

  &.page2
    background: #9ab5b0
    .page_container
      margin-top: 20px
      position: relative
      float: right
      overflow: hidden
    h1
      text-align: center
      padding: 0
      margin-bottom: 15px
      font-size: 50px
      letter-spacing: -1px
      color: #45394a
    h2
      color: rgba(116, 82, 101, 0.85)
      text-align: center
      line-height: 160%
      font-weight: 100

.viewing-page-2
  background: rgba(0, 0, 0, 0.25)
  color: #FFF

.main section.page3
  background: #1ABC9C
  .page_container
    overflow: hidden
    width: 500px
    right: -285px
    float: left
  h1
    text-align: left
    padding: 0
    margin-bottom: 0
    font-size: 70px
    letter-spacing: -1px
    color: black
  h2
    color: rgba(0, 0, 0, 0.85)
    text-align: left
    line-height: 160%
    font-weight: 100
    font-size: 21px
.main section.page4
  background: #a0a296
  color: #663e1e
  h1
    color: #532f1a
body.disabled-onepage-scroll
  .onepage-wrapper section
    min-height: 100%
    height: auto
  .main section
    .page_container, &.page3 .page_container
      padding: 20px
      margin-top: 150px
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
  section .page_container
    h1
      text-align: center
      font-size: 50px
    h2, .credit
      text-align: center
      width: 100%
  .main section.page3 .page_container
    width: 90%
    margin-left: auto
    margin-right: auto
    right: 0
body, html
  margin: 0
  overflow: hidden
  -webkit-transition: opacity 400ms
  -moz-transition: opacity 400ms
  transition: opacity 400ms

body, .onepage-wrapper, html
  display: block
  position: static
  padding: 0
  width: 100%
  height: 100%

.onepage-wrapper
  width: 100%
  height: 100%
  display: block
  position: relative
  padding: 0
  -webkit-transform-style: preserve-3d
  .section
    width: 100%
    height: 100%

.onepage-pagination
  position: absolute
  right: 10px
  top: 50%
  z-index: 5
  list-style: none
  margin: 0
  padding: 0
  li
    padding: 0
    text-align: center
    a
      padding: 10px
      width: 4px
      height: 4px
      display: block
      &:before
        content: ''
        position: absolute
        width: 4px
        height: 4px
        background: rgba(0, 0, 0, 0.85)
        border-radius: 10px
        -webkit-border-radius: 10px
        -moz-border-radius: 10px
      &.active:before
        width: 10px
        height: 10px
        background: none
        border: 1px solid black
        margin-top: -4px
        left: 8px