.wrapper
  .main
    %section.page1
      .page_container
        %h1 Welcome to scroll page
        %h2 Create an scroll page plugin
    %section.page2
      .page_container
        %h1 Second page scroll
        %h2 Create an scroll page plugin
    %section.page3
      .page_container
        %h1 Third page scroll
        %h2 Create an scroll page plugin
    %section.page4
      .page_container
        %h1 Fourth page scroll
        %h2 Create an scroll page plugin
